<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by acbelter <acbelter@gmail.com>
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.acbelter.yatranslatetest">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".view.ui.MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ui.SplashActivity"
            android:theme="@style/SplashTheme"/>

        <activity
            android:name=".view.ui.SelectLangActivity"
            android:theme="@style/AppThemeNoActionBar"/>
    </application>
</manifest>